.footer {
    position: fixed;
    padding-top:20px ;
    bottom: 0;
    width: 100%;
    height: 120px;
}

.gap{
    width: 100%;
    height: 50px;
}
.gap-small{
    width: 100%;
    height: 30px;
}
.gap-mini{
    width: 100%;
    height: 10px;
}